body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header{
    background-color: #33333333;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titles{
    display: flex;
    flex-direction: column;
}

h1{
    margin: 0;
}

h3{
    margin: 0;
}

nav{
    display: flex;
    margin-left: 1100px;
    margin-top: 30px;
    justify-content: center;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

nav a:hover{
    background-color: white;
    color: #33333333;
}

footer{
    background-color: #33333333;
    color: white;
    padding: 1em;
    text-align: center;
    position: fixed;
}

.icon{
    background: url(imagez/sprite3.png) no-repeat;
    width: 66px;
    height: 66px;
}

#twitter{
    background-position: -66px -72px;
}

video{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
}